<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--
|    <servlet>
        <servlet-name>Ban_bancoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Ban_bancoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ban_bancoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/ban_bancoservice</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>Car_cartaoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Car_cartaoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Car_cartaoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/car_cartaoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Ccp_conta_ct_pagarService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Ccp_conta_ct_pagarServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ccp_conta_ct_pagarService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/ccp_conta_ct_pagarservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Ccr_conta_ct_receberService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Ccr_conta_ct_receberServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ccr_conta_ct_receberService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/ccr_conta_ct_receberservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Cen_centro_custoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Cen_centro_custoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cen_centro_custoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/cen_centro_custoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Cli_clienteService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Cli_clienteServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cli_clienteService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/cli_clienteservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Conf_configuracaoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Conf_configuracaoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conf_configuracaoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/conf_configuracaoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Ctp_conta_pagarService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Ctp_conta_pagarServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ctp_conta_pagarService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/ctp_conta_pagarservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Ctr_conta_recebeService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Ctr_conta_recebeServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ctr_conta_recebeService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/ctr_conta_recebeservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Cucp_custo_conta_pagarService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Cucp_custo_conta_pagarServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cucp_custo_conta_pagarService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/cucp_custo_conta_pagarservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Fop_forma_pagamentoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Fop_forma_pagamentoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fop_forma_pagamentoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/fop_forma_pagamentoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>For_fornecedorService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.For_fornecedorServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>For_fornecedorService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/for_fornecedorservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Fpar_forma_parcelaService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Fpar_forma_parcelaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fpar_forma_parcelaService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/fpar_forma_parcelaservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Int_intervalo_parcelamentoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Int_intervalo_parcelamentoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Int_intervalo_parcelamentoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/int_intervalo_parcelamentoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Lan_lancamentoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Lan_lancamentoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lan_lancamentoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/lan_lancamentoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Lcc_lancamento_centro_custoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Lcc_lancamento_centro_custoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lcc_lancamento_centro_custoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/lcc_lancamento_centro_custoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Loj_lojaService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Loj_lojaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Loj_lojaService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/loj_lojaservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Par_parcelamentoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Par_parcelamentoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Par_parcelamentoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/par_parcelamentoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Plc_plano_contasService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Plc_plano_contasServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Plc_plano_contasService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/plc_plano_contasservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Por_previsao_orcamentoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Por_previsao_orcamentoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Por_previsao_orcamentoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/por_previsao_orcamentoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>Usu_loj_usuario_lojaService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.Usu_loj_usuario_lojaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usu_loj_usuario_lojaService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/usu_loj_usuario_lojaservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_conta_pagarService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_conta_pagarServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_conta_pagarService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_conta_pagarservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_conta_pagar_contaService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_conta_pagar_contaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_conta_pagar_contaService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_conta_pagar_contaservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_conta_pagar_pagoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_conta_pagar_pagoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_conta_pagar_pagoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_conta_pagar_pagoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_conta_pagar_pago_contaService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_conta_pagar_pago_contaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_conta_pagar_pago_contaService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_conta_pagar_pago_contaservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_conta_receberService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_conta_receberServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_conta_receberService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_conta_receberservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_conta_receber_contaService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_conta_receber_contaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_conta_receber_contaService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_conta_receber_contaservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_conta_receber_pagoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_conta_receber_pagoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_conta_receber_pagoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_conta_receber_pagoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_conta_receber_pago_contaService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_conta_receber_pago_contaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_conta_receber_pago_contaService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_conta_receber_pago_contaservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_lan_centro_custoService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_lan_centro_custoServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_lan_centro_custoService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_lan_centro_custoservice</url-pattern>
    </servlet-mapping>


        <servlet>
        <servlet-name>V_lancamentosService</servlet-name>
        <servlet-class>br.com.i9.finance.server.i9finance.easyfin.service.V_lancamentosServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>V_lancamentosService</servlet-name>
        <url-pattern>/br.com.i9.finance.Main/rpc/v_lancamentosservice</url-pattern>
    </servlet-mapping>
    
-->
    <servlet>
        <servlet-name>ConfigI9Cluster</servlet-name>
        <servlet-class>br.com.easynet.easyportal.cluster.ConfigI9Cluster</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
